main {
  text-align: center;
  position: relative;
  width: 100%;
}

header {
  background: #fff url('/pattern-bg.png') no-repeat 24%;
  background-size: cover;
  height: 26vh;

  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.input-group {
  margin-top: 1.5em;
  width: 100%;
  display: flex;

  @media(min-width: 640px) {
    max-width: 560px;
  }

  > input {    
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

.info {
  position: absolute;
  top: -13%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 3em 2em;
  display: flex;
  align-items: center;
  min-height: 160px;
  flex-direction: column;
  background-color: white;
  border-radius: 1em;
  gap: 1.5rem;
  box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.1);
  z-index: 1;
  width: 70%;

  @media(min-width: 640px) {
    padding: 0 48px;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(1100px - 2em);
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    font-size: calc(1em + 0.5vw);
    font-weight: 500;
  }

  > span {
    color: var(--dark-gray);
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 4px;

    @media(min-width: 640px) {
      margin-bottom: 8px;
    }
  }

  @media(min-width: 640px) {
    align-items: flex-start;
  }

  
  p {
    @media(min-width: 640px) {
      text-align: left;
    }

    @media(min-width: 1100px) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 340px;
    }
  }

  @media(min-width: 1100px) {
    & + & {
      &:before {
        content: '';
        position: absolute;
        background-color: var(--dark-gray);
        opacity: 0.4;
        top: 0;
        left: -24px;
        width: 1px;
        height: 100%;
      }
    }
  }
}

.map {
  height: calc(70vh - 2em);
}